.Register form {
	width: 450px;
    padding: 20px;
    margin: 20px;
}

/* .Register input {
    width: 100%
} */


.Register .Headline {
    text-align: center;
}

.Register .TextBox {
  width: 100%;
  margin: 5px 0;
  /* text-align: right; */

}