html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: darkcyan;
  background-image: linear-gradient(45deg, pink, darkmagenta)
}

.Box {
  display: inline-block;
  border: 1px solid;
  padding: 0 10px;
  margin: 10px;
  box-shadow: 5px 5px 10px;
  border-radius: 10px;
  /* text-align: left; right cause hebrew  */
  text-align: right;
}

a {
  color: blue;
}

main {
  overflow-y: scroll;
  /* overflow-y: auto; */
}